---
import InputComponent from '../../components/inputComponent/InputComponent.astro';
export interface props {
  blockId: number,
  quizTitle: string,
  questions: Array<Question>
}
export interface Question {
  questionId: number,
  question: string,
  description: string,
}
const { quiz } = Astro.props;
---

<div class="quiz quiz--disabled">
	<div class="quiz__form">
		<InputComponent inputId="personName" inputPlaceholder="Name" client:load />
		<InputComponent inputId="personSurname" inputPlaceholder="Surname" client:load />
		<button class="btn" data-btn="quiz-start" type="submit">Start</button>
	</div>
	<div class="quiz__list quiz__list--hidden" data-quiz-list={quiz.blockId}>
		<h2 class="quiz__title">{quiz.quizTitle}</h2>

		{ quiz.questions.map((element, index) => {
			const id = element.questionId;
			const isHidden = index > 0 ? 'quiz__question--hidden' : '';

			return (
				<div class={`quiz__question ${isHidden}`} data-question={`question-${id}`}>
				<h3>{element.question}</h3>
				<p>{element.description}</p>

				<div class="answers">
					<input type="radio"text-prop={`kekus-${index + 1}`} name={`question-${id}`} id={`question-${id}-1`}>
					<label class="answer" for={`question-${id}-1`}>1</label>
					<input type="radio" name={`question-${id}`} id={`question-${id}-2`}>
					<label class="answer" for={`question-${id}-2`}>2</label>
					<input type="radio" name={`question-${id}`} id={`question-${id}-3`}>
					<label class="answer" for={`question-${id}-3`}>3</label>
					<input type="radio" name={`question-${id}`} id={`question-${id}-4`}>
					<label class="answer" for={`question-${id}-4`}>4</label>
					<input type="radio" name={`question-${id}`} id={`question-${id}-5`}>
					<label class="answer" for={`question-${id}-5`}>5</label>
				</div>
			</div>
			);
		}) }
	</div>
</div>

<script>
	import QuizForm from './main.js';

	// Инициализация класса
	const quizFormEl = document.querySelector(".quiz");
	const quizForm = new QuizForm(quizFormEl);
	quizForm.init();
</script>